body{font-family:Arial;background:#134e5e;height:100vh;display:flex;justify-content:center;align-items:center;color:white}
.card{background:#71b280;padding:40px;border-radius:10px;text-align:center}
button{padding:10px 20px;background:#2962ff;border:none;border-radius:6px;color:white}