body{font-family:Verdana;background:#0f2027;height:100vh;display:flex;justify-content:center;align-items:center;color:#fff}
.card{background:#203a43;padding:40px;border-radius:10px;text-align:center}
button{padding:10px 20px;background:#00c853;border:none;border-radius:6px;color:white;cursor:pointer}